#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.data-container {
  border: 1px solid #494949;
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(42, 42, 42);
  margin: 15px 0px;
}

.data-container:first-child {
  padding-bottom: 0px;
}

p {
  font-size: 0.9em;
  word-break: break-all;
}

hr {
  background-color: #494949;
  border: none;
  height: 1px;
}

h3 {
  margin: 0px;
}

.container {
  /* display: grid; */
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  text-align: start;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.read-the-docs {
  color: #888;
}
